<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="../../assets/img/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- CSS Files -->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../assets/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../../assets/demo/demo.css" rel="stylesheet" />
<div class="wrapper " style="position: relative;">
  <div class="sidebar" data-color="blue">

    <div class="logo">
      <a class="simple-text logo-normal">
        Espace Professeur
      </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        
        <li [ngClass]="{active: href === '/notification'}">
          <a routerLink="notification">
              <i ><img class="taille" src="../../assets/icon/svg/bell.svg" alt="Notifications"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li [ngClass]="{active: href === '/dispo'}">
          <a routerLink="dispo" routerLinkActive="router-link-active" >
              <i ><img class="taille" src="../../assets/icon/svg/profil.svg" alt="Profil"></i>
            <p>Ajouter Disponibilité</p>
          </a>
        </li>
        <li [ngClass]="{active: href === '/alldispo'}">
          <a routerLink="alldispo" routerLinkActive="router-link-active" >
              <i ><img class="taille" src="../../assets/icon/svg/profil.svg" alt="Profil"></i>
            <p>Disponibilités</p>
          </a>
        </li>
        <li [ngClass]="{active: href === '/profile'}">
          <a routerLink="profile" routerLinkActive="router-link-active" >
              <i ><img class="taille3" src="../../assets/icon/svg/liste.svg" alt="Liste des modules"></i>
            <p>Profil Utilisateur</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--   Core JS Files   -->



