.module{
    font-size: 2pt;
}
.btn-size{
    width: 100%;
}
.masquer{
    color : black;
    float: right;
    background-color:  transparent;
    border-color: transparent;
    width: 13%;
    height: 13%;
}