<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../assets/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" />
<div class="card">
    <div class="card-header">
    <!--  <h5 class="card-category">All Persons List</h5>-->
        <h4 class="card-title">{{year}}</h4>
        
        <div class="card-body">
           
              <app-module-dashboard [module]="'Analyse'"></app-module-dashboard>
              <app-module-dashboard [module]="'Management'"></app-module-dashboard>
        </div>
        <div class="card-footer "></div>
    </div>
  </div>
