

<!--div class="row">
  <div class="col-lg-4 pr-1">
    <div >
      <app-menu></app-menu>
    </div>
  </div>
  <div class="col-lg-8 pl-1">
    <div >
      <router-outlet></router-outlet>
    </div>
  </div>
</div-->
<!--div class="row" style="background-color: #f0efef; height: 100%; display: block;">
  <div class="column" style="float: left; width: 30%;">
      <app-menu></app-menu>
  </div>
  <div style="float: right; width: 80%; ">
      <router-outlet></router-outlet>
    </div>
</div-->

<div class="row" style="background-color: #f0efef; height: 100%; ">
  <div style="float: left; width: 17%;">
      <app-menu></app-menu>
  </div>
  <div style="float: right; width: 80%; ">
      <router-outlet></router-outlet>
  </div>
</div>


