<div *ngIf="this.appService.user === 'dace' || this.appService.user === 'ctc'">
  <app-bar></app-bar>
</div> 


<div *ngIf="this.appService.user !== 'dace' && this.appService.user !== 'ctc'" 
style="margin-left: 33%; margin-top: 250px; width: 400px;"> 
  <button class = "btn btn-primary btn-lg btn-block" (click) = "this.appService.setDace()">DACE</button>
  <button class = "btn btn-danger btn-lg btn-block" (click) = "this.appService.setCtc()">CTC</button>  
</div>



  <div *ngIf="this.appService.user === 'dace'" class="row" style="background-color: #f0efef; height: 100%;margin: 0%; ">
    <div style="float: left; width: 20%;">
        <app-menu></app-menu>
    </div>
    <div style="float: right; width: 80%; ">
        <router-outlet></router-outlet>
    </div>
  </div>

  <div *ngIf="this.appService.user === 'ctc'" class="row" style="background-color: #f0efef; height: 100%;margin: 0%; ">
    <div style="float: left; width: 20%;">
        <app-menu-ctc></app-menu-ctc>
    </div>
    <div style="float: right; width: 80%; ">
        <router-outlet></router-outlet>
    </div>
  </div>

